.example-card {
  margin: 8px;
  max-width: 400px;
}

.example-header-image {
  margin: 10px;
  img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }
}

.description{
  height: 92px;
}


